* {
	margin: 0;
	padding: 0;
}

.mui-popover {
	width: 150px;
	height: 90px;
}

.mui-bar {
	height: 100px;
	border-bottom: 1px solid #ddd;
}

.mui-bar-nav~.mui-content {
	padding-top: 100px;
}

.page_loader {
	text-align: center;
	color: gray;
	border-top: 1px solid #ccc;
	padding-top: 5px;
}

.init-html-h3 {
	text-align: left;
	font-size: 18px;
	font-weight: 100;
	margin-left: 13px;
	line-height: 40px;
}

.add {
	text-align: center;
	line-height: 70px;
	width: 70px;
	height: 70px;
	background-color: #efb336;
	border-radius: 35px;
	position: fixed;
	right: 32px;
	bottom: 50px;
}

.add img {
	width: 100%;
	height: 100%;
	text-align: center;
}

/* 顶部搜索框样式 开始*/
.header {
	width: 300px;
	position: relative;
	background-color: gray;
	margin: 0 auto;
	margin-top: 16px;
	height: 48px;
}

.content {
	/* background-color: red; */
	border: 1px solid gray;
	margin-top: 8px;
	padding-bottom: 16px;
	
	background-color: white;
	position: absolute;
	top: 40px;
	right: 68px;
	left: 8px;
	z-index: 3;
}

.content .item {
	height: 26px;
	line-height: 26px;
	padding-left: 8px;
	/* background-color: green */
}

.content-item-span {
	display: none;
}

.hasContent {
	padding-left: 8px;
}
/* 顶部搜索框样式 结束*/